:root {
  --black: #161616;
  --light-green: #b9e3c6;
  --green: #59c9a5;
}

body {
  margin: 0;
  background-color: var(--light-green);
  color: var(--black);
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

header {
  height: 3rem;
}

h1 {
  font-family: "Titan One", cursive;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

main {
  height: 100vh;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.weapons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.weapons button {
  width: 12rem;
  height: 12rem;
  font-size: 6rem;
  padding: 1.5rem;
  background-color: var(--green);
  border: 10px solid var(--black);
  border-radius: 4rem;
}

footer {
  padding: 3rem;
  background-color: var(--black);
  text-align: center;
  color: var(--light-green);
}

footer a {
  color: var(--green);
}
