:root {
  --black: #161616;
  --light-green: #b9e3c6;
  --green: #59c9a5;
}

body {
  margin: 0;
  background-color: var(--light-green);
  color: var(--black);
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: "Titan One", Roboto, sans-serif;
  margin-bottom: 3rem;
  font-size: 5rem;
  font-weight: normal;
  text-align: center;
}

main {
  height: calc(100vh - 6rem);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.current-round {
  font-size: 2rem;
  font-weight: bold;
  background-color: #59c9a5;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  box-shadow: 5px 5px var(--black);
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.weapons {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.weapons button {
  width: 20rem;
  height: 15rem;
  font-size: 7rem;
  padding: 1.5rem;
  background-color: var(--green);
  border: 10px solid var(--black);
  border-radius: 4rem;
  cursor: pointer;
  transition: 100ms all ease-in-out;
}

.weapons button:active {
  background-color: #161616;
  transform: scale(0.95, 0.95);
  transition: 100ms;
}

.hidden {
  display: none;
}

.results {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  background-color: var(--black);
  color: var(--light-green);
  padding: 1rem 3rem;
  border-radius: 2rem;
  box-shadow: -10px 10px var(--green);
  margin: 1.5rem 0;
}

.score {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  background-color: var(--black);
  color: var(--light-green);
  padding: 1rem 3rem;
  border-radius: 2rem;
  box-shadow: 10px 10px var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#player-score,
#computer-score {
  color: var(--green);
  font-family: "Titan One", sans-serif;
  font-size: 4rem;
  font-weight: normal;
}

.restart-button {
  background-color: var(--green);
  color: var(--black);
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  border: 12px solid var(--black);
  margin-top: 2rem;
  cursor: pointer;
  transition: 100ms all;
}

.restart-button:active {
  transform: scale(1.1, 1.1);
}

footer {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  font-size: 2rem;
  color: var(--light-green);
}

footer a {
  color: var(--green);
}
